.table-container {
    margin: 20px auto;
    width: 80%;
  }
  
  .button-container {
    margin-bottom: 20px;
  }
  
  .button-container button {
    margin: 10px;
  }
  
  .form-div {
    margin-bottom: 20px;
  }
  
  .form-div form {
    display: flex;
    flex-direction: column;
  }
  
  .form-div input {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    margin:3px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  