.product-list {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    margin-top: 50px;
}

.product-item {
    text-align: center;
}

.product-item img {
    width: 300px; /* Adjust width as needed */
    height: auto;
}

.product-item .button-container {
    margin-top: 10px; /* Adjust top margin as needed */
}

.product-item button {
    padding: 10px 15px; /* Adjust padding as needed */
    font-size: 16px;
    background-color: #007bff; /* Adjust color as needed */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px; /* Adjust width as needed */
}

.product-item button:hover {
    background-color: #0056b3; /* Adjust hover color as needed */
}

.cars {
    width: 100%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures the image is displayed as a block element */
    margin: 0 auto; /* Center the image horizontally */
    max-width: 100%; /* Ensures the image doesn't exceed its container's width */
  }
  