.about {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: #f0f7ff; /* Light blue background */
    padding: 20px;
    border-radius: 12px;
}

.about-left {
    flex-basis: 40%;
}

.about-right {
    flex-basis: 56%;
}

.about-img {
    width: 100%;
    border-radius: 10px;
}

.about h3 {
    font-weight: 600;
    font-size: 24px;
    color: #1f4e80; /* Dark blue text color */
}

.about p {
    color: #333333; /* Dark gray text color */
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.6;
}

/* Additional Styles */

.about p:first-child {
    margin-top: 0;
}

.about p:last-child {
    margin-bottom: 0;
}
