*{
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* General link styles */
a {
  text-decoration: none;
  color: rgb(4, 3, 3);
  font-size: 1rem;
  padding: 10px;
  border-radius: 15px;
}

/* Navbar styles */
.navbar {
  position: fixed;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 2rem;
  z-index: 12;
  background-color: #82a5b5; /* Light blue color */
}

.navbar .btn{
  width: auto;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.links a{
  transition: color 0.3s ease;
}
.links a:hover {
  color: #CCCCCC;
}
.navbar .toggle_btn {
  cursor: pointer;
  display: none;
}
.language-toggle{
  width: 60px;
  height: 30px;
}
.language-toggle:hover{
  background-color: white;
  color: rgb(16, 162, 26);
}
/* Dropdown menu */
.dropdown_menu {
  display: none;
  position: fixed;
  right: 2rem;
  top:60px;
  height: 0px;
  width: 50%;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  overflow: hidden;
  border-radius: 15px;
  box-shadow: rgb(38, 57, 77) 5px 20px 30px -10px;
  transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 13;
}

.dropdown_menu.open {
  height: 280px;
}

.dropdown_menu ul {
  padding: 8px;
}
.dropdown_menu li{
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu li a{
  margin-bottom: 5px;
  color:black;
}

/* Responsive */
@media (max-width: 1000px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
      display: block;
  }
}

@media (max-width: 375px) {
  .dropdown_menu {
    margin-top: 5px;
    left: 3rem;
    width: unset;
  }
}