.sign-up-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    background-image: url('k.png');
    background-size: 95%; /* Zoom out the image to 95% of its original size */
    background-position: center;
}

.sign-up-form {
    background-color:aliceblue ;/* Adjust the last value (alpha) to control transparency */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: calc(100% - 1in); /* Adjusted width */
    margin-right: 1in; /* Added margin on the right side */
}

.sign-up-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.sign-up-form input,
.sign-up-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.sign-up-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sign-up-form button:hover {
    background-color: #0056b3;
}
